.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie_img {
  width: 70%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
